.header {
    background-color: white;
    padding: 20px 0;
}

.header .logo {
    height: 60px;
    object-fit: contain;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-session {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 36px;
    margin-bottom: 0;
}

.header-session li a {
    color: #2E0C19;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu span {
    font-size: 13px;
    font-weight: 700;
}

@media screen and (max-width: 800px) {

    .header .logo {
        height: 30px;
    }

}

@media screen and (max-width: 640px) {

    .header-session li:first-child {
        display: none;
    }
    
}