.jumbo {
    background: url('../images/hero-background.jpg') no-repeat white center top;
    background-size: cover;
    padding: 80px 0 100px 0;
}

.jumbo-title {
    text-align: center;
    margin-bottom: 60px;
}

#tabs {
    text-align: center;
}

.tabs-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.tabs-list li a {
    font-size: 16px;
    font-weight: 600;
    color: #2E0C19;
    text-decoration: none;
}

.tabs-list .ui-state-active a {
    text-decoration: underline;
    text-decoration-color: #FD475D;
}

.form-tabs {
    background-color: white;
    padding: 6px;
    border-radius: 60px;
    text-align: center;
    display: inline-block;
}

.form-tabs input {
    border: none;
    height: 48px;
    padding: 0 16px;
}

.form-tabs button {
    background-color: #FD475D;
    border-radius: 48px;
    padding: 16px;
    border: none;
}

.form-tabs input:focus{
    outline: none;
}